.page-content,
.content {
    margin-top: 150px !important;
}

.menu-item a:hover {
    color: black !important;
}

.cus-width {
    width: 100% !important;
}

#drop_mainmenu_container {
    width: 100%;
}

#drop_mainmenu {
    font-size: .9em;
}

.kux-text {
    height: initial !important;
}

p.s-content {
    overflow: hidden;
}

h4.s-title {
    height: 60px;
}

.v {
    height: 300px;
}

.v h4.s-title {
    height: 80px;
}

h4.emp-talk {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 4 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 160px !important;
}

p.emp-content {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 160px;
}

.blog-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 120px;
}

.blog-content {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 80px;
}

img.card-img {
    height: 230px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 50px;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 80px;
}

.pagination {
    padding-left: 10px;
}

.list-group-item:first-child {
    background: #0079AD;
    font-weight: 700;
    color: white;
}

.ui-state-active {
    background: #0079AD !important;
}

.btn-primary {
    background: #0079AD !important;
    color: white !important;
    border: 1px solid #0079AD !important;
    font-weight: 500 !important;
}

.page-item.active .page-link {
    background-color: #0079AD !important;
    border-color: #0079AD !important;
    color: white !important;
}

.page-link {
    color: #0079AD !important;
}

.table-borderless {
    border: 1px solid #0079AD !important;
}

.table-borderless th {
    font-weight: 700;
}

.ct-form h6 {
    color: #0079AD;
}

.footer {
    background: #302e2e !important;
    min-height: 300px;
}

.footer p {
    color: white;
}

.footer-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.footer-social .icon {
    font-size: 30px;
    margin-left: 10px;
}

.footer-hit {
    background: white;
    padding: .4em;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    height: 185px;
}

.footer-hit p {
    color: #302e2e;
    font-size: 0.9em;
    font-weight: 700;
}

.address p {
    font-size: 0.9em;
    font-weight: 700;
}

.copy-right {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 8px;
}

.copy-right a {
    color: #0079AD;
    font-weight: 700;
}

.new-conntent p {
    width: 100% !important;
}

.table thead {
    background: #0079AD;
    color: white;
}

.search-results {
    background: #0079AD;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    border-radius: 15px;
}

.search-results h3 {
    color: white;
    font-weight: bold;
}

.fixpo {
    position: sticky !important;
    top: 110px;
    min-height: 200px;
}

.map iframe {
    width: 100%;
}

.form-contanier {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 40%;
    background: white;
    padding: .5em;
}

.cus-contact {
    height: 700px !important;
}

.parallax {
    min-height: auto;
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-blend-mode: overlay;
}

@media only screen and (max-width: 1024px) {
    .parallax {
        background-size: cover !important;
    }
    .form-contanier {
        width: 80%;
    }
    .language {
        margin-left: 85% !important;
    }
}

@media only screen and (max-width: 748px) {
    .language {
        margin-left: 72% !important;
    }
}

.logo img {
    height: 70px !important;
    width: 70px !important;
}

@media only screen and (max-width: 748px) {
    .logo img {
        height: 50px !important;
        width: 50px !important;
    }
}


/* Custom Select */

.language {
    margin-left: 90%;
    display: flex;
}

.language img {
    width: 30px;
    height: 20px;
}

.icon-image {
    font-size: 4em;
    text-align: center !important;
    color: red;
    display: inline-block;
    background: whitesmoke;
    border-radius: 50%;
    padding: 25px;
    position: relative;
    border: 14px solid #0079AD;
    min-width: 160px;
    min-height: 160px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.home-icon {
    text-align: center;
}

.icon-image:hover {
    border: 14px solid red;
}

.icon-title {
    min-height: 50px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 15px 0;
}

.icon-content {
    color: black;
    font-weight: 400;
}

.item-sm {
    width: 50%;
}

.hotline {
    position: fixed;
    left: 10px;
    bottom: 20px;
    z-index: 1499;
    display: block;
    background: red;
    color: white;
    padding: 10px;
    border-radius: 99px;
}

.bor-tel {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1498;
    display: block;
    width: 70px;
    height: 65px;
    border: white 2px solid;
    background: red;
    opacity: 0.7;
    border-radius: 50%;
    animation: pulse linear 1s infinite;
}

.bg-tel {
    width: 50px;
    height: 45px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 1498;
    display: block;
    background: red;
    border-radius: 50%;
}

.bg-tel .fa-phone {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white !important;
}

@media only screen and (min-width:1026px) {
    .bor-tel,
    .bg-tel {
        display: none;
    }
}

@media only screen and (max-width:1025px) {
    .bor-tel,
    .bg-tel {
        display: block;
    }
    .hotline {
        display: none;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}


/* Menu mobile */

.show-menu {
    display: none;
}

.menu {
    display: none;
    position: fixed;
    right: -3000px;
    width: 70%;
    height: 100%;
    overflow: scroll;
    top: 85px;
    background: rgba(0, 0, 0, 0.699);
    z-index: 10001;
    transition: linear 400ms ease-out;
}

.menu.active {
    right: 0;
}

.menu_container {
    width: 100%;
    height: 100%;
}

.page_menu_content {
    padding-right: 30px;
    overflow: hidden;
    text-align: right;
}

.page_menu_item {
    display: block;
    position: relative;
}

.page_menu_nav>li {
    border-bottom: solid 1px rgba(8, 8, 8, 0.267);
}

.page_menu_item>a {
    display: block;
    color: white;
    font-weight: 700;
    line-height: 50px;
    height: 50px;
    font-size: 1rem;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.page_menu_item.has-children>a>i {
    display: inline-block;
}

.page_menu_selection {
    margin: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    z-index: 1;
}

.page_menu_selection li {
    line-height: 40px;
}

.page_menu_selection li:last-child {
    padding-bottom: 20px;
}

.page_menu_selection li a {
    display: block;
    color: #FF9A00;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.page_menu_selection li:last-child a {
    border-bottom: none;
}

@media only screen and (max-width: 748px) {
    .show-menu {
        display: block;
        text-align: right;
    }
    .bar-menu {
        display: block;
        padding-right: 10px;
        cursor: pointer;
        font-size: 20px;
    }
    .menu {
        display: block
    }
}

.fm2_mobile_button {
    display: none !important;
}


/* menu ba cap */

.list-sub-item {
    margin: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    height: 0px;
}

.no-border {
    border: initial !important;
}

.list-sub-item li {
    background: white !important;
    color: black !important;
    font-weight: 100 !important;
}